doctype html
html(lang="en-us")
  head
    meta(charset="UTF-8")
    if title 
      title= title
    else
      title= globalData.portal_name
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href=`/stylesheets/${globalData.portal_style}/style.css`)
    block additional_headers
  body
    include sidebar.pug
    #logo
      img(src="/images/ouroborosLogo.png" width="409" alt="City of Heroes Logo")
    #content
      table(style="border-spacing: 1em;")
        tr
          td(valign="top")
            block body_content
          td(valign="top")
            .nav
              +menuMacro(globalData.menuTree)
              if globalData.username
                div(style="padding: 0.2rem")
                  div Current user: #{globalData.username} 
              include core/block-players-online.pug
  script(type='text/javascript', nonce=cspNonce).
    document.addEventListener('DOMContentLoaded', function() {
        const menuItems = document.querySelectorAll('.menu__item > .menu__link');
        menuItems.forEach(item => {
            item.addEventListener('click', function(e) {
                const submenu = this.nextElementSibling;
                
                // Only prevent default and toggle classes if there's a non-empty submenu
                if (submenu && submenu.children.length > 0) {
                    e.preventDefault();
                    
                    // Toggle the 'open' class on the clicked item
                    this.classList.toggle('open');
                    
                    // Toggle the 'navopen' class on the submenu
                    submenu.classList.toggle('navopen');
                }
            });
        });
    });