extends layout

include sidebar.pug

//- Additional headers block
block additional_headers
  link(rel='stylesheet', type='text/css', href=globalData.portal_url+`vendor/jquery/jquery-ui.min.css`)
  link(rel='stylesheet', type='text/css', href=globalData.portal_url+`vendor/datatables/datatables.min.css`)
  link(rel='stylesheet', type='text/css', href=globalData.portal_url+'stylesheets/'+globalData.portal_style+'/admin.css')
  script(type='text/javascript', src=globalData.portal_url+`vendor/jquery/jquery-3.4.1.min.js`)
  script(type='text/javascript', src=globalData.portal_url+`vendor/jquery/jquery-ui.min.js`)
  script(type='text/javascript', src=globalData.portal_url+`vendor/datatables/datatables.min.js`)
  script(type='text/javascript', src=globalData.portal_url+`vendor/moment/moment.js`)
  script(type='text/javascript', src=globalData.portal_url+`vendor/datatables/datetime-moment.js`)
  script(type='text/javascript', src='/js/admin-table.js')

//- Content block
block body_content
    //- style override for .block required
    .block(style="width:auto") 
        .blocktitle List of Accounts
        .blockbody
            table#account-list.display.table(style="width:1200")
                thead
                    tr
                        th UID
                        th Account Name
                        th Banned
                        th Ban Expiry
                        th Last Login
                        th Last IP
                        th Inf
                        th # Characters
                        th Online
                        th Online Time (this session)
                        th Online Time (total)
                        th
                tfoot
                    tr
                        th UID
                        th Account Name
                        th Banned
                        th Ban Expiry
                        th Last Login
                        th Last IP
                        th Inf
                        th # Characters
                        th Online
                        th Online Time (this session)
                        th Online Time (total)
                        th
