.littleblock
  .blocktitle
    if portalLfgOnly
      | #{globalData.online.List.length} Players LFG
    else
      | #{globalData.online.Count} Players Online
  .blockbody.onlinelist
    if portalLfgOnly
      span #{globalData.online.Count} Players Online
      br
    
    ul.onlinelist
      each map in globalData.online.MapList
        li
          div= map
          ul
            each char in globalData.online.List
              if char.MapName === map
                li= char.Name