extends ../layout

block body_content
    #content(style="width:540px")
        .block
            .blocktitle Welcome #{username}
            .blockbody
                | If you would like to change your password, enter a new password below, then click "Change Password".
                form(method="post", action="changepassword")
                    table(width="100%")
                        tr
                            td(align="right")
                                label(for="password") New Password
                            td
                                input(type="password" name="password" maxlength="16")
                        tr
                            td(colspan="2" align="right")
                                input(type="submit" name="change" value="Change Password")
        .block
            .blocktitle
                | Your Characters
            .blockbody
                | Your characters are listed here
                h2 Characters
                include block-character-list
        if lockedCharacters.length > 0
            .block
                .blocktitle
                    | Locked Characters
                .blockbody
                    p The following characters are currently locked for a pending modification or server transfer. Such processes typically take less than a minute. If a character remains locked due to a bug or failure, you can unlock them below.
                    ul
                        each lockedCharacter in lockedCharacters
                            li
                                | #{lockedCharacter.name} - #{lockedCharacter.AccSvrLock}
                                form(method="post", action=portal_url + "federation/clear-transfer" style="display: inline-block;")
                                    input(type="submit" value="Unlock")
                                    input(type="hidden" name="character" value=character.datauri)
        .block
            .blocktitle Character Transfer
            .blockbody
                form(method="post" action="./federation/transfer-character-request")
                    p Please select a server and character to transfer:
                    table
                        thead
                        tr
                            td
                                label(for="server") Server
                            td
                                select(name="server")
                                    each Server in federation
                                        if Server.Policy.AllowOutgoing
                                        option(value=Server.Name) #{Server.Name}
                        tr
                            td
                                label(for="character") Character
                            td
                              select(name="character")
                                each Character in characters
                                    option(value=Character.datauri) #{Character.Name}
                    input(type="submit" name="select" value="Transfer Now")