extends ../layout

include ../sidebar.pug

//- Additional headers block
block additional_headers
  link(rel='stylesheet', type='text/css', href=globalData.portal_url+`vendor/jquery/jquery-ui.min.css`)
  link(rel='stylesheet', type='text/css', href=globalData.portal_url+`vendor/datatables/datatables.min.css`)
  link(rel='stylesheet', type='text/css', href=globalData.portal_url+'stylesheets/'+globalData.portal_style+'/admin.css')
  script(type='text/javascript', src=globalData.portal_url+`vendor/jquery/jquery-3.4.1.min.js`)
  script(type='text/javascript', src=globalData.portal_url+`vendor/jquery/jquery-ui.min.js`)
  script(type='text/javascript', src=globalData.portal_url+`vendor/datatables/datatables.min.js`)
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js')
  script(type='text/javascript', src=globalData.portal_url+`vendor/datatables/datetime-moment.js`)
  title Manage Account: #{username}

//- Content block
block body_content
    .block
        .blocktitle Manage #{username}
        .blockbody
            table
                tr
                    td
                        label(for="password") Reset Password
                        form(method="post", action=globalData.portal_url+`admin/${uid}/password`)
                            input(type="hidden", name="_csrf", value=csrfToken)
                            input(type="password", name="password")
                            input(type="submit", value="Change Password")

    .block
        .blocktitle Ban Account
        .blockbody
            table
                tr
                    td
                        label(for="date") Ban Expiry
                        form(method="post", action=globalData.portal_url+`admin/${uid}/ban`)
                            input(type="hidden", name="_csrf", value=csrfToken)
                            input(type="text", name="date", id="bandate")
                            input(type="submit", value="Ban Account")
            if online
                | This person is currently online. Please open the console using your GM character and copy/paste the following command to kick them from the server:
                pre
                    | svrkick "#{onlinecharacter}" You are being banned.

    .block(style="width: 100%;")
        .blocktitle Characters
        .blockbody
            table#character-list.display.table
                thead
                    tr
                        th Id
                        th Name
                        th Location
                        th Level
                        th Exp
                        th Inf
                        th Last Played
                        th Access Level
                        th
                tfoot
                    tr
                        th Id
                        th Name
                        th Location
                        th Level
                        th Exp
                        th Inf
                        th Last Played
                        th Access Level
                        th

    script(type="text/javascript", nonce=cspNonce).
        let maplist = [];
        // Iterate over maplist keys to populate the maplist array
        // {globalData.maplist | keys | map(key => `maplist[{key}] = '{globalData.maplist[key]}';`).join('\n')}
        var maplistData = !{JSON.stringify(globalData.maplist)};
        for (var key in maplistData) {
            if (maplistData.hasOwnProperty(key)) {
            maplist[key] = maplistData[key];
            }
        }

        $(function() {
            $("#bandate").datepicker();
        });

        $.fn.dataTable.moment('MM/DD/YYYY');

        $(document).ready(function() {
        let dt = $('#character-list').DataTable({
            processing: true,
            serverSide: true,
            ajax: {
                url: `#{globalData.portal_url}admin/list/character/#{uid}`,
                dataSrc: function (json) {
                   return json.data;
                }
            },
            order: [[1, 'asc']],
            columns: [
                { data: 'ContainerId' },        // 0
                { data: 'Name' },               // 1
                { data: 'StaticMapId' },        // 2
                { data: 'Level' },              // 3
                { data: 'ExperiencePoints' },   // 4
                { data: 'InfluencePoints' },    // 5
                { data: 'LastActive' },         // 6
                { data: 'AccessLevel' },        // 7
                { data: 'button', searchable: false, orderable: false } // TODO: what button is it? delete?
            ],
            columnDefs: [
            {
                targets: [0, 1, 3, 6],
                render: function (data) {
                    return data == null ? '-' : data;
                }
            },
            {
                targets: [2],
                render: function(data, type, row, meta) {
                    return maplist[data];
                }
            },
            {
                targets: [4, 5],
                render: function(data, type, row, meta) {
                    if (data == null) { return '0'; }
                    return data.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
                }
            },
            {
                targets: 7,
                render: function(data, type, row, meta) {
                return data == null ? '0' : data;
                }
            }
            ]
        });
        });
